<div style=" z-index:99999;" class="gm-style-iw">
  <div style="overflow: auto;" class="">
    <div style="line-height:1.1em;margin-top:7px;">

  <b><%= user_detail.user.abbreviated_name %></b>
  <% if !user_detail.listing_type %>
      <a class="lbOn featured" title="Featured Tutor" style="position: relative; left: 4px;" rel="featured" href="#myModal" data-toggle="modal" data-target="#myModal"><img src="/assets/vip.png" width="35"></a>
  <% end %>
  
</div>
<table cellpadding="0" cellspacing="0" border="0" style="margin-top:5px;width:100%;">
  <tbody><tr>
    <td class="smaller_text" style="padding-right:5px;vertical-align:top;">
      <table>
        
        <tbody><tr>
          <td class="profileLeft2" style="width:56px;"><%= t "map.Availability" %>: </td>
          <td colspan="2"><%= user_detail.user.available_distance_first %></td>
        </tr>
        <tr>
          <td class="profileLeft2" style="width:56px;"><%= t "map.Price" %>: </td>
          <td colspan="2"><%= t('rate.'+user_detail.user.price) %> <%= t('rate_short.'+user_detail.user.currency) %> <%= t 'rate.per hr' %></td>
        </tr>
      </tbody></table>
    </td>
    <td style="vertical-align:top;">
      <%= image_tag(user_detail.get_user_avatar , :height => '55', :width => '55', :class => "photo", :alt => "#{ user_detail.user.abbreviated_name}")%>
    </td>
  </tr>
</tbody></table>
<center><a href="/tutors/<%= user_detail.user_id %>" target="_blank"><b> <%= t "map.Read More or Contact This Tutor" %> » </b></a></center></div></div>
<div class="wdt100">
    <%= render :partial => "/home/featured" %>
</div>