<div class="wrapper">
  <div class="nice-box close-account" id="login">
    <div class="header">
      <h2><%= t('settings.confirm_heading') %></h2>
    </div>
    <div class="body">
      <%= t('settings.txt_1') %>
      <br><br>
      <%= t('settings.txt_2') %> <a href="/contact"><%= t('settings.txt_3') %></a>.  <%= t('settings.txt_4') %>
    </div>
  </div>
</div>