<!--div id="top">
  <div class="wrapper" >
    <h2>About Us</h2>
  </div>
</div-->
<div class="wrapper">
  <div id="maincontent" class="about_page">
       <div class="full_wht_bg pbot">
    <div class="about_left_col">
    <div class="about_cont_col">
          <h3><%= t('sou_fudao_heading') %></h3>
           <div class="about_grey_box">
             <p><%= t('what_sou_fudao.html') %></p>
           </div>

    </div>

    <div class="about_cont_col">
          <h3><%= t('for_student_heading') %></h3>
           <div class="about_grey_box">
             <p><%= t('for_student.html') %></p>
           </div>
            <div class="sub_col_txt">
            <span class="title_text"><%= t :students %>:</span> <span class="parag_txt"> <%= t('get_started_with_search.html', href: '/search_tutors') %> </span>
             </div>
    </div>

     <div class="about_cont_col">
          <h3><%= t('for_teachers_heading') %></h3>
           <div class="about_grey_box">
             <p><%= t('for_teachers.html') %></p>
           </div>
          <div class="sub_col_txt">
            <span class="title_text">
        <%= t :teachers %>:</span> <span class="parag_txt"> <%= t('sign_up_profile_free.html', href: '/users/sign_up') %>  </span>
            </div>

        <div class="sub_col_txt">
            <span class="parag_txt">
         <%= t 'questions_comments.html', href: '/contact' %>  </span>
          </div>


    </div>

      </div>
       </div>
    </div>
 </div>
