<div id="top">
  <div class="wrapper" data-no-turbolink>
    <h2><%= t('my_acc') %></h2>
    <ul id="tabs" class="account">
      <li class="">
        <a href="/tutors/settings/<%= @user_detail.id %>"><%= t 'my_account.setting' %></a>
      </li>
      <li class="">
        <a href="/tutors/upgrade/<%= @user_detail.id %>"><%= t 'my_account.upgrade' %></a>
      </li>
      <li class="">
        <a href="/tutors/my_messages/<%= @user_detail.id %>"><%= t 'my_account.my_messages' %></a>
      </li>
      <!--li class="">
        <a href="/tutors/my_client/<%= @user_detail.id %>">My Clients</a>
      </li-->
      <li class="active">
        <a href="/user_details/my_account/<%= @user_detail.id %>"><%= t 'my_account.my_profile' %></a>
      </li>
    </ul>

  </div>
</div>

<div class="wrapper">
<div class="full_wht_bg account_bg">
<div class="profile wdt644" id="content">

<% if (@user_detail.get_count_of_new_msgs != 0) %>
  <div class="degree_col">
    <a href="/tutors/my_messages/<%= @user_detail.id %>" style = "text-decoration:underline;color:#46c7f4s;"><%= @user_detail.get_count_of_new_msgs %> <%=t 'my_account.1_new_msg'%></a>
  </div>
<% end %>

<div class="degree_col">
  <div class="degree_lft_col">
    <%= t('my_account.visible') %>:
  </div>

  <div class="degree_rht_col">
    <%= form_for(:user_details, :url => {:action => 'update_profile_visibility', :id => @user_detail.id}, :method => :put, :html => {:id => 'profile_visible_form', :style =>'margin-bottom:0px;'}) do |f| %>
        <%= radio_button_tag(:is_visible, "true", @user_detail.is_visible? ? true : false, :onclick => "$('#profile_visible_form').submit();") %> <%= t('my_account.visible_yes') %> &nbsp;
        <%= radio_button_tag(:is_visible, "false", @user_detail.is_visible? ? false : true, :onclick => "$('#profile_visible_form').submit();") %> <%= t('my_account.visible_no') %>
    <% end %>
  </div>


</div>

<% if @user_detail.is_visible? %>

    <div class="degree_col">

      <div class="degree_lft_col">
        <%= t('my_account.profile_link') %>:
      </div>

      <div class="degree_rht_col">
        <a target="_blank" href="/tutors/<%= @user_detail.user_id %>">
          <%= "http://"+request.host_with_port+"/tutors/#{@user_detail.user_id}" %>
        </a>
      </div>

    </div>

<% end %>



<br>
<%= t('my_account.section_notice_line1') %>
<br>
<%= t('my_account.section_notice_line2') %>
<br>
<br>


<div class="signupRight" id="basic_info_div">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>

    <tr>
      <td>
        <div id="basic_section_img">
          <a id="edit_link_0" href="#my_profile_0" data-toggle="collapse" class="collapsed_link collapsed"><%= t('basic_info.basic_info_txt') %></a>
        </div>
      </td>
      <td style="text-align:right;">
        <div id="basic_info_status">
          <%= @user_detail.is_basic_info_complete? ? "#{t('complete')} #{image_tag('/assets/check-mark.gif')}".html_safe : "#{t('incomplete')}" %>&nbsp;
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br/>

<div id="my_profile_0" class="collapse">
  <div id="flash_basic_msg" class="alert alert-info fade in" style="display:none"></div>
  <center>
    <!--
      <span class="tip">Note: the "Street Address" field is optional.  We use it to place an icon on the map.  You can <br>use a nearby intersection or leave it blank if you don't want to show your exact location.
      </span>
    -->
    <%= render :partial => "basic_info_form", :locals => {:user_detail => @user_detail} %>
  </center>
</div>

<div class="signupRight" id="your_location_div">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>
    <tr>
      <td>
        <div id="basic_section_img">
          <a id="edit_link_6" href="#my_profile_6" data-toggle="collapse" class="collapsed_link collapsed"><%= t('your_location.your_location_txt') %></a>
        </div>
      </td>
      <td style="text-align:right;">
        <div id="your_location_status">
          <%= @user_detail.is_location_info_complete? ? "#{t('complete')} #{image_tag('/assets/check-mark.gif')}".html_safe : "#{t('incomplete')}" %>&nbsp;
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br/>

<div id="my_profile_6" class="collapse">
  <div id="flash_location_msg" class="alert alert-info fade in" style="display:none"></div>
  <center>
    <%= render :partial => "location_info_form", :locals => {:user_detail => @user_detail} %>
  </center>
</div>


<div class="signupRight" id="subjects_div">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>
    <tr>
      <td>
        <a id="edit_link_1" href="#my_profile_1" data-toggle="collapse" class="collapsed_link collapsed">
          <%= t('subjects.subject_txt') %>
        </a>
      </td>
      <td style="text-align:right;">
        <div id="subject_info_status">
          <%= @user_detail.is_subject_info_complete? ? "#{t('complete')} #{image_tag('/assets/check-mark.gif')}".html_safe : "#{t('incomplete')}" %>&nbsp;
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br/>

<div id="my_profile_1" class="collapse">
  <div id="flash_msg" class="alert alert-info fade in" style="display:none"></div>
  <center>
    <%= render :partial => "subjects_form", :locals => {:user_detail => @user_detail} %>
  </center>
</div>


<div class="signupRight" id="about_you_div">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>
    <tr>
      <td>
        <a id="edit_link_2" href="#my_profile_2" data-toggle="collapse" class="collapsed_link collapsed"><%= t('about_you.about_you_txt') %></a>
      </td>
      <td style="text-align:right;">
        <div id="about_you_info_status">
          <%= @user_detail.is_about_you_info_complete? ? "#{t('complete')} #{image_tag('/assets/check-mark.gif')}".html_safe : "#{t('incomplete')}" %>&nbsp;
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br/>

<div id="my_profile_2" class="collapse">
  <div id="flash_msg_info" class="alert alert-info fade in" style="display:none"></div>
  <center>
    <%= render :partial => "about_you_form", :locals => {:user_detail => @user_detail} %>
  </center>
</div>


<div class="signupRight" id="availability_div">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>
    <tr>
      <td>
        <a id="edit_link_3" href="#my_profile_3" data-toggle="collapse" class="collapsed_link collapsed"><%= t('availability.headline') %></a>
      </td>
      <td style="text-align:right;">
        <div id="availability_info_status">
          <%= @user_detail.is_availability_info_complete? ? "#{t('complete')} #{image_tag('/assets/check-mark.gif')}".html_safe : "#{t('incomplete')}" %>&nbsp;
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div id="my_profile_3" class="collapse">
  <div id="flash_msg_availability" class="alert alert-info fade in" style="display:none"></div>
  <center>
    <% @availability = @user_detail.user.availability %>
    <%= render :partial => "availability_form", :locals => {:availability => @availability} %>
  </center>
</div>

<br/>


<div class="signupRight" id="photo_div">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>
    <tr>
      <td>
        <a id="edit_link_4" href="#my_profile_4" data-toggle="collapse" class="collapsed_link collapsed"><%= t('photo.headline') %></a>
      </td>
      <td style="text-align:right;">
        <div id="photo_info_status">
          <%= @user_detail.is_photo_info_complete? ? "#{t('complete')} #{image_tag('/assets/check-mark.gif')}".html_safe : "#{t('incomplete')}" %>&nbsp;
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br/>

<div id="my_profile_4" class="collapse">
  <center>
    <%= render :partial => "photo_form", :locals => {:user_detail => @user_detail} %>
  </center>
</div>


<div class="signupRight" id="contact_div">
  <table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
    <tbody>
    <tr>
      <td>
        <a id="edit_link_5" href="#my_profile_5" data-toggle="collapse" class="collapsed_link collapsed"><%= t('contact.headline') %></a>
      </td>
      <td style="text-align:right;">
        <div id="phone_info_status">
          <%= @user_detail.is_phone_chat_info_complete? ? "#{t('complete')} #{image_tag('/assets/check-mark.gif')}".html_safe : "#{t('incomplete')}" %>&nbsp;
        </div>

      </td>
    </tr>
    </tbody>
  </table>
</div>
<br/>

<div id="my_profile_5" class="collapse">
  <div id="flash_phone_msg" class="alert alert-info fade in" style="display:none"></div>
  <center>
    <%= render :partial => 'phone_or_chat_form', :locals => {:user_detail => @user_detail} %>
  </center>
</div>

</div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
      initMap(<%= current_user.user_detail.longitude %>,<%= current_user.user_detail.latitude %>)
      addMarker(<%= current_user.user_detail.longitude %>, <%= current_user.user_detail.latitude%>,"<%= current_user.abbreviated_name %>", "<%= current_user.available_distance_first %>", "<%= current_user.price %>","<%= current_user.currency %>" ,"<%= current_user.user_detail.get_user_avatar %>", "<%= current_user.id %>","<%= t 'map.Availability' %>","<%= t 'map.Price' %>", "<%= t 'map.Read More or Contact This Tutor' %>","<%= current_user.user_detail.listing_type %>")    });
</script>